<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>326225068835-7k7om7pe6d137lmcnheg881847fskc7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326225068835-7k7om7pe6d137lmcnheg881847fskc7g</string>
	<key>API_KEY</key>
	<string>AIzaSyBr5fxyf6FCGO9UDVlQJJ4hrZZ3OICb-ms</string>
	<key>GCM_SENDER_ID</key>
	<string>326225068835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myth.Spider</string>
	<key>PROJECT_ID</key>
	<string>spider-ec12a</string>
	<key>STORAGE_BUCKET</key>
	<string>spider-ec12a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326225068835:ios:60d664d7ea7444d0</string>
	<key>DATABASE_URL</key>
	<string>https://spider-ec12a.firebaseio.com</string>
</dict>
</plist>